
*{
	margin: 0;
	padding: 0;
	
}
.navbar{

border: none;
background-color: black;
color: #61122F;
}
body{
	background-color: #61122F;
	color: white;
}
.glyphicon{
	font-size: 30px;
	color:#61122F; 
}

.center{
	width: 90%;
	background-color: grey;

}
.container
{
	background-color: #61122F;
}
.text-center{
	font-size: 30px;
}

h2{
	text-align: center;
}
#myNavbar ul li a {
	color: #61122F;
}
.navbar-header{
    width: 400px;
    margin-left: 20px;
}
.navbar-brand{
font-size: 30px;	
}
.chickstory {
    color:antiquewhite;
}
#nav-list{
    margin-top: 10px;
}
#nav-list a {
    color: #951c49;
    text-align: center;
}
#nav-list a:hover{
    background: #e7e7e7;
}
#nav-list a:span{
    font-size: 1.8em;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar{
    border: 1px solid #61122F;

}
*{
	margin: 0;
	padding: 0;
	
}
.navbar{

border: none;
background-color: black;
color: #61122F;
}
body{
	background-color: #61122F;
	color: white;
}
.glyphicon{
	font-size: 30px;
	color:#61122F; 
}

.center{
	width: 90%;
	background-color: grey;

}
.container
{
	background-color: grey;
}
.text-center{
	font-size: 30px;
}

h2{
	text-align: center;
}
#myNavbar ul li a {
	color: #61122F;
}
.navbar-brand{
font-size: 30px;	
}
